# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Database files
tests/*.db
# resources/data/*.db are included because they seem to be part of the app data

# Log files
*.log
